.table tr td,.table tr th{text-align: center;}

/*------------------GLOBAL---------------------------*/
.div-margin-top-10{
    margin-top: 10px;
}
/*------------------GLOBAL END---------------------------*/

/*-------------operation log page--------------------*/
.op-log .operation-log-customer-alert{
    display: none;
}
.op-log .icon-calendar{
    width: 21px;
    height: 21px;
    background-size: 703.5px 238.5px;
    background-position: -288px -180px;
    vertical-align: middle;
}
/*-------------operation log page end--------------------*/