/*------------------BLOGIN BEGIN---------------------------*/
body {
    background-color: #fafbff;
}
.logo {
    width: 120px;
    height: 80px;
}
.login-center-block {
    padding: 80px;
    background-color: #337ab7;
    color: #fff;
}
.login-center-btn {
    border: 1px white solid;
}
.login-error {
    padding: 7px;
}
.footer {
    border-top: 1px solid #d7d7d7;
    margin: 100px 50px 0px;
    padding: 50px 20px 50px;
    color: #777;
}
/*------------------LOGIN END---------------------------*/