/*------------------BLOGIN---------------------------*/
body {
    background-color: #fafbff;
}
.logo {
    width: 120px;
    height: 80px;
}
.login-center-block {
    padding: 80px;
    background-color: #337ab7;
    color: #fff;
}
.login-center-btn {
    border: 1px white solid;
}
.login-error {
    padding: 7px;
}
.login-footer {
    border-top: 1px solid #d7d7d7;
    margin: 100px 50px 0px;
    padding: 50px 20px 50px;
    color: #777;
}
/*------------------LOGIN END---------------------------*/


/*------------------MAIN LAYOUT---------------------------*/
.main-header {
    margin-top: 10px;
}
.main-menu {
    margin-top: 20px;
}
.main-breadcrumbs {
    margin-top: 15px;
}
.main-body {
    margin-top: 0px;
}
.main-footer {
    border-top: 1px solid #d7d7d7;
    margin: 100px 50px 0px;
    padding: 50px 20px 50px;
    color: #777;
}
.breadcrumb>li+li:before {
    content: ">\00a0";
}
/*------------------MAIN LAYOUT END---------------------------*/

.alert-p {
    padding: 15px;
}
.paginator-text {
    margin-bottom: 0px;
}
.second-btn {
    margin-left: 30px;
}
.modal-textarea {
    resize: none;
}

/*------------------MAIN SUBNAV START---------------------------*/
li.sub_nav_li>a.sub_nav_a{
    color: #fff !important;
    background-color: #2f96b4 !important;
}
a.sub_nav_a{
	margin: 5px 0px;
	padding: 5px !important;
}
/*------------------MAIN SUBNAV END---------------------------*/